html {
    font-size: 14px;
}

h1 {
    padding: 50px 0 30px 0;
}

.form-control {
    background: #d8e6f2;
    color: #0159a0;
}
.form-control:focus {
    background: #d8e6f2;
    color: #0159a0;
}

.input-field-sky {
    font-weight: 300;
    height: 45px;
    border-radius: 0;
    /*border:none;*/
}
.btn-sky {
    background: #0159a0;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    /*border-radius: 0;*/
    float: right;
    height: 45px;
    width: 100%;
}

.btn-red-sky:hover {
    background: #ff4d4d;
}

.btn-red-sky {
    background: red;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    /*border-radius: 0;*/
    float: right;
    height: 45px;
    width: 100%;
}

#btn_submit{

    margin: 20px 0 50px 0;
}

.map {
    height: 600px;
    padding: 20px 0 0 0;
}

.select-field-sky {
    font-size: 14px;
    font-weight: 300;
    /*border: none;
    /*-webkit-appearance: none;*/
}

.textarea-field-sky {
    height: 100px;
    font-weight: 300;
    /*border:none;*/
}

.display-none {
    display: none;
}

.btn_add {
    margin-top: 27px;
}

.modal-confirm {
    color: #434e65;
    width: 525px;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}


.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
    margin-left: 170px;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
#draw-tool-btn {
    position: absolute;
    margin-top: 500px;
    margin-left: 10px;
    z-index: 10;
    width: 100px;
}

#btn_draw {
    height: 54.5px;
}

#draw-tool {
    position: absolute;
    margin-top: 173px;
    margin-left: 5px;
    z-index: 10;
}

.card-body {
    padding: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
}

.draw-button {
    width: 100px;
    margin: 5px;
    background: rgba(1, 89, 160, 0.5);
    color: white;
}

.draw-button:hover {
    background: rgba(41, 128, 196, 0.82);
}
.ol-zoom .ol-zoom-in {
    background-color: #0159a0 !important;
    width: 2em;
    height: 2em;
    margin-bottom: 2px;
}

.ol-zoom .ol-zoom-out {
    background-color: #0159a0 !important;
    margin-top: 5px;
    width: 2em;
    height: 2em;
}

.dropdown-menu {
    background-color: #d8e6f2;
    min-width: 550px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.radius-invalid {
    color: red;
}

.tooltip-measure:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.survey-link {
    color: white;
}

.survey-link:hover {
    text-decoration: none;
    color: white;
}

.survey-link:active {
    text-decoration: none;
    color: white;
}