html {
    font-size: 14px;
}

h1 {
    padding: 50px 0 30px 0;
}

.form-control {
    background: #d8e6f2;
    color: #0159a0;
}
.form-control:focus {
    background: #d8e6f2;
    color: #0159a0;
}

.input-field-sky {
    font-weight: 300;
    height: 45px;
    border-radius: 0;
    /*border:none;*/
}
.btn-sky {
    background: #0159a0;
    cursor: pointer;
    height: 30px;
    padding: 0 20px;
    border: none;
    border-radius: 0;
    float: right;
    margin-bottom:50px;
}

.map {
    height: 600px;
    padding: 20px 0 0 0;
}

.select-field-sky {
    font-size: 14px;
    border: none;
    height: 300px;
    /*-webkit-appearance: none;*/
}


.textarea-field-sky {
    height: 100px;
    font-weight: 300;
    /*border:none;*/
}

.display-none {
    display: none;
}

.form-check-inline {
    margin-top: 37px;
}